<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="testCtrl">

    <!-- <div class="jumbotron text-center" style="background-color: #056e9c80;"> -->
    <div  style="background-color: #056e9c80;">
        <h2>Signup Into CMS Demo App</h2>
        <p>Create a new account if you dont have.! {{'{{NAME}}'}}</p> 
    </div>
    

	  	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script> -->
	  	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> -->
	<!-- <script src="static/bootstrap/jquery.min.js"></script> -->
	<!-- <script src="static/bootstrap/popper.min.js"></script> -->
	<!-- <script src="static/bootstrap/bootstrap.min.js"></script> -->
	<script src="static/controller/myApp.js"></script>
	<script src="static/controller/testCtrl.js"></script> 


<!-- <script type="text/javascript">
	var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script> -->
</body>


</html> 
